.working {
}

.caption {
    font-weight: bold;
    height: 25px;
}

.error {
    font-weight: bold;
    height: 15px;
    color: red;
}

.row {
    height: 22px;
}

.column {
    margin-left: 5px;
    float: left;
}

.value {
    padding-left: 0px;
}

.time {
    width: 40px;
}

.location {
    width: 80px;
    font-weight: bold;
}

.temperature {
    width: 55px;
}

.humidity {
    width: 50px;
}

.rain {
    width: 70px;
}

.rain_today {
    width: 60px;
}



