.working {
}

.caption {
    font-weight: bold;
    height: 25px;
}

.error {
    font-weight: bold;
    height: 15px;
    color: red;
}

.row {
    height: 22px;
}

.column {
    margin-left: 5px;
    float: left;
}

.value {
}

.time {
    width: 40px;
}

.location {
    width: 75px;
    font-weight: bold;
}

.temperature {
    width: 55px;
}

.humidity {
    width: 50px;
}

.rain {
    width: 70px;
}

.rain_today {
    width: 60px;
}

.rain_button {
    margin-left: 3px;
    border-color: gray;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.rain_div {
    width: 151px;
    height: 103px;
    padding: 5px;
    border: solid 1px;
    border-radius: 4px;
    color: black;
    background-color: lightcyan;
    position: relative;
    top: -100px;
    left: 20px;
}

.rain_label {
    width: 100px;
    float: left;
}

.rain_value {
    width: 45px;
    float: left;
}



